# ==========================================
# CẤU HÌNH API KEYS CHO LLM & EMBEDDINGS
OPENAI_API_KEY="sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"

# (Tùy chọn) Nếu bạn dùng Claude thay vì OpenAI
# ANTHROPIC_API_KEY="sk-ant-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"


# ==========================================
# CẤU HÌNH DATABASE (LONG-TERM MEMORY)
# ==========================================
REDIS_URL="redis://localhost:6379/0"


# ==========================================
# CẤU HÌNH LANGSMITH TRACING (RẤT KHUYÊN DÙNG)
# ==========================================
LANGSMITH_TRACING="true"
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY="lsv2_pt_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
LANGSMITH_PROJECT="Lab17-Multi-Memory-Agent"